certifi==2021.5.30
    # via requests
charset-normalizer==2.0.3
    # via requests
idna==3.2
    # via requests
plumbum==1.7.0
    # via -r requirements.in
rarbgapi==0.4.2
    # via -r requirements.in
requests==2.26.0
    # via rarbgapi
urllib3==1.26.6
    # via requests
